##引入宏定义
$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#save("/entity", "Entity.java")

##使用宏定义设置包后缀
#setPackageSuffix("entity")

##使用全局变量实现默认包导入
$!{autoImport.vm}
import javax.persistence.*;
import java.io.Serializable;

/**
 * JPA Entity class for ${tool.hump2Underline($!tableInfo.name)} table
 *
 * @author $!author
 */
@Entity
@Table(name = "${tool.hump2Underline($tableInfo.name)}")
public class ${tableInfo.name}Entity implements Serializable {
    private static final long serialVersionUID = $tool.serial();
#foreach($column in $tableInfo.pkColumn)
    #if(${column.comment})

    /**
     * ${column.comment}
     */#end
    
    @Id
    private ${tool.getClsNameByFullName($column.type)} ${column.name};
#end
#foreach($column in $tableInfo.otherColumn)
    #if(${column.comment})

    /**
     * ${column.comment}
     */#end
    
    private ${tool.getClsNameByFullName($column.type)} ${column.name};
#end

#foreach($column in $tableInfo.fullColumn)
##使用宏定义实现get,set方法
#getSetMethod($column)
#end

    @Override
    public String toString() {
        return "$tableInfo.name{" + 
        #foreach($column in $tableInfo.fullColumn)
        "${column.name}=" + $column.name +#if($foreach.hasNext) ", " + 
            #end
        #end
        "}";
    }
    
    public ${tableInfo.name}Entity() {
    }
    
    public ${tableInfo.name}Entity(#foreach($column in $tableInfo.fullColumn)${tool.getClsNameByFullName($column.type)} ${column.name}#if($foreach.hasNext), #end #end) {
        #foreach($column in $tableInfo.fullColumn)
        this.${column.name} = ${column.name};
        #end
    }

}
